body {
    background-color: lightgray;
}

h3 {
    cursor: pointer;
    border: 1px solid black;
    float: left;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: lightblue;
}
